body{
    margin:0px;
    padding:0Px;
    font-family: Hero, Helvetica, Arial, sans-serif;
}
.section1{
    background-color: #1F2937;
}
h1{
    font-size: 24px;
   
}
ul{
    display:flex;
    list-style: none;
    gap:10px;
    margin:0px;
    padding:0px;
}

a{
    text-decoration: none;
    color:#F9FAF8;
}
.header,.section1Body{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 200px;
    color:#F9FAF8;
    gap:30px;
}

.section1Body{
    padding:40px 0;
    align-items:flex-start;
}
.titlesection1{
    margin:0;
    padding:0;
}

.titlesection1{
    font-size: 48px;
    font-weight:bolder;
}
img{
    width:450px;
}
button{
    background-color: #3882F6;
    padding:5px 25px;
    color: #F9FAF8;
    border-radius: 10px;
    margin-top: 10px;
    
}
.section2{
    display:flex;
    flex-direction: column;
    margin:0 200px;
    padding-top:20px;
    padding-bottom:80px;
    align-items: center;
}
.contentsection2{
    display: flex;
    justify-content: center;
    column-gap:20px;
    text-align: center;
}
.titlesection2{
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

.dogcontent img{
    width:200px;
    height:200px;
    border:3px solid #3882F6  ;
    border-radius: 10px;
    margin-bottom:0;

}
.section3{
    background-color:#E5E7EB;
   
    padding:40px 0;

}
.contentsection3{

    margin:0 250px;
    
}
.contentsection3 p{
    text-align: end;
}
blockquote{
    font-size:36px;
    color:#1F2937;
    font-style:italic;

}
.section4{
    padding:40px;
}
.content{

    
    padding:20px;
    margin:0 200px;
    background-color: #3882F6;
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:40px;
    border-radius: 5px;
}

h2{
    padding:0;
    margin:0;
}
.buttonsection4{
    border: 3px solid #F9FAF8;
}
p{
    padding:0;
    margin:0;
}
footer{
   
    padding:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:#F9FAF8;
}
